@use "~/styles/helpers" as *;

.timer-card {
  display: flex;
  flex-direction: column;
  row-gap: rem(3);
  position: relative;

	&::after {
		content: "";
		width: 100%;
		height: rem(3);
		background-color: #000;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 100;
	}

  &__part {
    @include square(rem(100));

    position: relative;
    overflow: hidden;
    isolation: isolate;

    background: rgba(139, 92, 246, 0.09);

    box-shadow:
      0 rem(1) rem(1) rgba(0, 0, 0, 0.18),
      inset rem(1) rem(1) rem(1) rgba(255, 255, 255, 0.35),
      inset rem(-1) rem(-1) rem(1) rgba(255, 255, 255, 0.15);


    &--top {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    &--bottom {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
  }

  &__glass-effect,
  &__glass-tint,
  &__glass-shine {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  &__glass-effect {
    z-index: 0;
    backdrop-filter: blur(rem(2));
    -webkit-backdrop-filter: blur(rem(2));
    filter: url("#glass-distortion");
  }

  &__glass-tint {
    z-index: 1;
    background: rgba(139, 92, 246, 0.02);
  }

  &__glass-shine {
    z-index: 2;
    box-shadow:
      inset rem(1) rem(1) rem(1) rgba(255, 255, 255, 0.5),
      inset rem(-1) rem(-1) rem(1) rgba(255, 255, 255, 0.35);
  }

  &__value {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(120);
  }
}