@use "~/styles/helpers" as *;

.timer-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: rem(2);
  position: relative;

  &__part {
    @include square(rem(75));

    background: var(--color-gray-dark);

    &--top {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    &--bottom {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    @include desktop {
      @include square(rem(60));
    }

    @include tablet {
      @include square(rem(50));
    }

    @include mobile {
      @include square(rem(40));
    }

    @include mobile-s {
      @include square(rem(35));
    }
  }

  &__value {
    @include fluid-text(100, 36);

    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
