@use "~/styles/helpers" as *;

.readiness {
  &__visualization {
    position: relative;
    margin-bottom: rem(90);

    @include tablet {
      margin-bottom: rem(30);
    }

    &-icon {
      height: auto;
      width: 100%;
      display: block;

      path[stroke] {
        fill: transparent;
      }

      &--fill {
        position: absolute;
        bottom: 0;
        left: 0;

        path[stroke] {
          fill: #fff;
        }
      }
    }

    &-fill {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
		column-gap: rem(40);

		@include tablet {
			flex-direction: column;
			row-gap: rem(32);
		}
  }

  &__info {
    max-width: rem(600);

		@include tablet {
			max-width: 100%;
		}

    &-title {
      margin-bottom: rem(16);
    }
  }
}
