@use "~/styles/helpers" as *;

.section {
  margin-bottom: rem(120);

  @include tablet {
    margin-bottom: rem(80);
  }

  @include mobile {
    margin-bottom: rem(70);
  }

  &__header {
    margin-bottom: rem(72);
    display: flex;
    justify-content: space-between;
    column-gap: rem(32);
    align-items: end;
		width: 100%;

		&--center {
			justify-content: center;
			text-align: center;
		}

    @include tablet {
      margin-bottom: rem(48);
    }

    @include mobile {
      margin-bottom: rem(32);
    }
  }

  &__title {
    margin-bottom: rem(16);

    @include mobile {
      margin-bottom: rem(10);
    }
  }

  &__subtitle,
  &__right-content {
    @include fluid-text(48, 24);

    font-weight: 400;
    font-family: var(--font-family-accent);
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: -0.03em;
  }
}
