@use "~/styles/helpers" as *;

.hero {
  text-align: center;
  padding-block: rem(160) rem(100);
  height: 100vh;

  @include desktop {
    padding-block: rem(128) rem(80);
  }

  @include mobile {
    padding-block: rem(92) rem(40);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__subtitle {
    @include fluid-text(24, 16);

    margin-bottom: rem(24);
    letter-spacing: 0.12em;
    text-transform: uppercase;
    opacity: 0.8;

		@include mobile {
			margin-bottom: rem(16);
		}
  }

  &__title {
    margin-bottom: rem(48);

    @include desktop-l {
      margin-bottom: rem(32);
    }

		@include mobile {
			margin-bottom: rem(24);
		}
  }

  &__timer {
    margin-top: auto;
  }

  &__bg {
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

    &-video {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      backdrop-filter: blur(rem(10));
      background: rgba(14, 14, 14, 0.8);
    }
  }
}
