@use "~/styles/helpers" as *;

.header {
  padding-block: rem(40);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition-duration: var(--transition-duration);

	@include desktop {
		padding-block: rem(32);
	}

	@include tablet {
		padding-block: rem(24);
	}

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
		flex-wrap: wrap;

		@include desktop {
			row-gap: rem(40)
		}
  }
}
