@use "./../helpers" as *;

body {
  @include fluid-text(20, 16);

  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-light);
  background: linear-gradient(90deg, #06010d 0%, #060321 100%);
  letter-spacing: -0.03em;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button,
input,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

h2,
.h2,
h3,
.h3 {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--color-gray);
}

h1,
.h1 {
  @include fluid-text(80, 28);

  font-weight: 400;
  font-family: var(--font-family-accent);
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

h2,
.h2 {
  @include fluid-text(20, 16);
}

h3,
.h3 {
  @include fluid-text(18, 14);
}

:not(input):focus-visible {
  outline: rem(2) dashed red;
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
