@use "./../helpers" as *;

:root {
  --color-light: #fff;
  --color-gray: #a2a2a2;
  --color-gray-dark: #282828;
  // --color-accent: #6c42cb;
  --color-accent: #ea0a0a;

  --font-family-accent: "Unbounded", sans-serif;
  --font-family-base: "Manrope", sans-serif;

  --container-width: #{rem(1360)};
  --container-padding-x: #{rem(20)};

  --border-radius: #{rem(20)};

  --button-height: #{rem(60)};

  --border: #{rem(5)} solid rgba(255, 255, 255, 0.1);

  --transition-duration: 0.25s;

  @include tablet {
    --button-height: #{rem(50)};
    --border-radius: #{rem(16)};
  }

  @include mobile {
    --button-height: #{rem(40)};
  }
}
